<app-loading *ngIf="loading"></app-loading>
<div
  class="
    container-fluid
    d-flex
    justify-content-center
    align-items-center
    h-100
    p-0 p-md-3 p-lg-5
  "
>
  <div class="row">
    <div class="card card-body col-12 col-md-8 col-lg-5">
      <div class="row">
        <div class="col-12 text-center">
          <span class="fs-1 fw-1">ลงชื่อเข้าใช้</span>
        </div>
        <div class="col-12 mt-5">
          <input type="text" class="form-control" placeholder="ชื่อผู้ใช้" />
        </div>
        <div class="col-12">
          <input type="text" class="form-control mt-3" placeholder="รหัสผ่าน" />
        </div>
        <div class="col-12 mt-5">
          <button class="btn btn-dark w-100" (click)="onLogin()">เข้าสู่ระบบ</button>
        </div>
      </div>
    </div>
  </div>
</div>
