<div class="col-xl-12 mb-5 mb-xl-0 mt-4">
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">รายการรับผ้าวันนี้</h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">วันที่</th>
              <th scope="col">ลูกค้า</th>
              <th scope="col">สถานะ</th>
              <th scope="col">จำนวน/ตัว</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                12/09/21
              </th>
              <td>
                จางฉีหลิง
              </td>
              <td>
                ส่งผ้าออก
              </td>
              <td>
                20
              </td>
            </tr>
            <tr>
              <th scope="row">
                15/09/21
              </th>
              <td>
                ฮาแฮ
              </td>
              <td>
                รับผ้าเข้า
              </td>
              <td>
                30
              </td>
            </tr>
            <tr>
              <th scope="row">
                16/09/21
              </th>
              <td>
                เซียนจื่ออิง
              </td>
              <td>
                รับผ้าเข้า
              </td>
              <td>
                14
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>

