<div class="col-xl-12 mb-5 mb-xl-0 mt-4">
    <div class="card">
      <div class="card-header border-0 col-12">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">รายชื่อลูกค้า</h3>
          </div>
        </div>
        <div class="head mt-3 mb-2">
            <p-button label="เพิ่มข้อมูลลูกค้า" icon="pi pi-check" iconPos="right" ></p-button> 
            <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText  placeholder="Search">         
            </span>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">ลำดับที่</th>
              <th scope="col">รหัสลูกค้า</th>
              <th scope="col">ชื่อ</th>
              <th scope="col">นามสกุล</th>
              <th scope="col">ที่อยู่</th>
              <th scope="col">เบอร์โทร</th>
              <th scope="col">ID line</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                1
              </th>
              <td>
                C01
              </td>
              <td>
                ฉีหลิง
              </td>
              <td>
                จาง
              </td>
              <td>
                เมืองอู๋ฮั่น มณฑลหูเป่ย ประเทศจีน
              </td>
              <td>
                097-23659595
              </td>
              <td>
                QilingWu
              </td>
            </tr>
            <tr>
              <th scope="row">
                2
              </th>
              <td>
                C02
              </td>
              <td>
                ฮาแฮ
              </td>
              <td>
                ยู
              </td>
              <td>
                เมืองอันยาง เขตกยองกี ประเทศเกาหลี
              </td>
              <td>
                097-23659595
              </td>
              <td>
                김홍중
              </td>
            </tr>
            <tr>
              <th scope="row">
                3
              </th>
              <td>
                C03
              </td>
              <td>
                เฟมีลล่า
              </td>
              <td>
                ไดเอนแพนไทร์
              </td>
              <td>
                มหานครเซวีน่า เขตรั้วสีทอง
              </td>
              <td>
                097-23659595
              </td>
              <td>
                faymeen
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>

