<div class="container-fluid mb-5">
<div class="row">
  <div class="col-xl-3 col-lg-6">
    <div class="card card-stats mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">จำนวนผ้าที่รับมา</h5>
            <span class="h2 font-weight-bold mb-0">350</span>
          </div>
        </div>
        <p class="mt-3 mb-0 text-muted text-sm">
          <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48% </span>
          <span class="text-nowrap">Since last month</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6">
    <div class="card card-stats mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">จำนวนลูกค้า</h5>
            <span class="h2 font-weight-bold mb-0">15</span>
          </div>
        </div>
        <p class="mt-3 mb-0 text-muted text-sm">
          <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48% </span>
          <span class="text-nowrap">Since last week</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6">
    <div class="card card-stats mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">จำนวนผ้ามีปัญหา</h5>
            <span class="h2 font-weight-bold mb-0">56</span>
          </div>
        </div>
        <p class="mt-3 mb-0 text-muted text-sm">
          <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10% </span>
          <span class="text-nowrap">Since yesterday</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6">
    <div class="card card-stats mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">จำนวนผ้าที่เสร็จแล้ว</h5>
            <span class="h2 font-weight-bold mb-0">256</span>
          </div>
        </div>
        <p class="mt-3 mb-0 text-muted text-sm">
          <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12% </span>
          <span class="text-nowrap">Since last month</span>
        </p>
      </div>
    </div>
  </div>

  <!-- table -->
  <div class="col-xl-12 mb-5 mb-xl-0 mt-4">
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">รายการรับผ้าวันนี้</h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">วันที่</th>
              <th scope="col">ลูกค้า</th>
              <th scope="col">สถานะ</th>
              <th scope="col">จำนวน/ตัว</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                12/09/21
              </th>
              <td>
                จางฉีหลิง
              </td>
              <td>
                ส่งผ้าออก
              </td>
              <td>
                20
              </td>
            </tr>
            <tr>
              <th scope="row">
                15/09/21
              </th>
              <td>
                ฮาแฮ
              </td>
              <td>
                รับผ้าเข้า
              </td>
              <td>
                30
              </td>
            </tr>
            <tr>
              <th scope="row">
                16/09/21
              </th>
              <td>
                เซียนจื่ออิง
              </td>
              <td>
                รับผ้าเข้า
              </td>
              <td>
                14
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>