<div class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="btnToggleNavbar">
      <button
        pButton
        pRipple
        type="button"
        class="
          p-button-secondary p-button-text
          text-dark
          fs-4
          fw-bolder
          p-0
          ms-2
        "
        (click)="showSidebar = true"
        icon="fas fa-bars"
      ></button>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#btnToggleNavbar"
      aria-controls="btnToggleNavbar"
      aria-expanded="false"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
<router-outlet></router-outlet>
<p-sidebar [(visible)]="showSidebar" [baseZIndex]="999">
  <h3>Left Sidebar</h3>

  <p-button
    type="button"
    (click)="showSidebar = false"
    label="Save"
    styleClass="p-button-success me-2"
  ></p-button>
  <p-button
    type="button"
    (click)="showSidebar = false"
    label="Cancel"
    styleClass="p-button-secondary me-2"
  ></p-button>
</p-sidebar>
